
# ls aliases
alias lsa='ls -ah'
alias ll='ls -lh'
alias lla='ls -alh'

# Shorthand for securely shredding files and deleting them
alias shred='shred -uz --iterations=10'

# System control
alias susp="systemctl suspend"
alias r="source ~/.bashrc"
alias free="free -h"

# Linux version of OSX pbcopy and pbpaste.
#alias pbcopy="xsel — clipboard — input"
#alias pbpaste="xsel — clipboard — output"
alias pbcopy="xclip -selection clipboard"
alias pbpaste="xclip -selection clipboard -o"

# Aliases to make it easy to do the Pomodoro technique with the command line
alias pomodorostrt='sleep 1500 && notify-send "End of 25 minutes pomodoro. Time for a break."'
alias pomodorobrk='sleep 300 && notify-send "End of the pomodoro break."'
alias pomodoro='sleep 1500 && notify-send "End of 25 minutes pomodoro. Time for a break."; sleep 300 && notify-send "End of the pomodoro break."'
alias pomodoroz='nohup sh -c '"'"'sleep 1500 && zenity --warning --text="25 minutes passed"'"'"' &'
alias pst='nohup sh -c '"'"'sleep 1500 && zenity --warning --text="25 minuten voorbij, tijd voor pauze"'"'"' &'
alias pbr='nohup sh -c '"'"'sleep 300 && zenity --warning --text="5 minuten pauze voorbij"'"'"' &'

# Quick access
alias vim="nvim"
alias vi="nvim"
alias lg='lazygit'
alias q='qalc -t -b 10'
alias weight='cd ~/vcs/weight/ && nvim 2025.txt'
alias acc='cd ~/vcs/accounting/ && nvim 2025.journal'
alias dots='cd ~/dotfiles/ && nvim'
alias notes='cd ~/Sync/Notes/ && nvim'

# Ledger
alias h19="hledger -f ~/vcs/accounting/2019.journal"
alias h20="hledger -f ~/vcs/accounting/2020.journal"
alias h21="hledger -f ~/vcs/accounting/2021.journal"
alias h22="hledger -f ~/vcs/accounting/2022.journal"
alias h23="hledger -f ~/vcs/accounting/2023.journal"
alias h24="hledger -f ~/vcs/accounting/2024.journal"
alias h25="hledger -f ~/vcs/accounting/2025.journal"
alias f="hledger -f ~/vcs/accounting/familia.journal"
