[user]
	name = Pieter Brandwijk
	email = pieter@pbrandwijk.com
[core]
	autocrlf = input
	commentchar = ";"
[init]
	defaultBranch = main
[push]
	autoSetupRemote = true
[remote "origin"]
	prune = true

